* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  /* margin: auto; */
  align-items: center;
  background: black;
}

#circal {
  position: absolute;
  width: 610px;
  height: 610px;
  border-radius: 100%;
  background-color: #0011ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 560px;
  width: 380px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(8px); /* Apply blur effect */
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.89);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

#result {
  width: 90%;
  height: 14vh;
  background-color: transparent;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.79);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#livedisplay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  /* height: 50%; */
  font-size: 30px;
  margin: auto;
}
#finalresult {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  color: black;
  /* height: 50%; */
  margin: auto;
  margin-top: 10px;
  text-align: right;
  border: none;
  box-shadow: -9px -9px 16px rgba(94, 223, 252, 0.3), 0 0 12px rgba(0, 0, 0, 0.2) ;
}

#buttons {
  width: 90%;
  height: auto;
  background-color: transparent;
  /* padding: 10px; */
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

input {
  width: 70px;
  height: 80px;
  border-radius: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: -8px -8px 16px rgba(164, 223, 255, 0.3), 0px 0px 9px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

input:nth-child(-n + 4) {
  height: 50px;
  border-radius: 10px;
  color: aquamarine;
}

input:nth-last-child(2) {
  width: 15vw;
}
